
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0a74da;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

header .logo{
    display: :block;
    margin: 0 auto;
    width :100px;
}